<?php

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        // Rulesets
        '@PSR2' => true,
        '@PhpCsFixer' => true,
        '@PhpCsFixer:risky' => true,
        '@PHP56Migration:risky' => true,
        '@PHPUnit57Migration:risky' => true,

        // Diffs from @PhpCsFixer / @PhpCsFixer:risky
        'concat_space' => [
            'spacing' => 'one',
        ],
        'ordered_class_elements' => false,
        'php_unit_internal_class' => false,
        'php_unit_strict' => false,
        'php_unit_test_class_requires_covers' => false,
        'phpdoc_align' => false,
        'phpdoc_annotation_without_dot' => false,
        'phpdoc_summary' => false,
        'phpdoc_types_order' => [
            'null_adjustment' => 'always_last',
        ],
        'protected_to_private' => false,
        'self_accessor' => false,
        'single_quote' => false,

        // Should be included in @PhpCsFixer / @PhpCsFixer:risky according to doc, but need to be
        // enabled manually for some reason.
        'fopen_flags' => true,
        'multiline_whitespace_before_semicolons' => true,
        'native_function_invocation' => true,

        // Additional rules
        'linebreak_after_opening_tag' => true,
    ]);
