

parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Stripe\\\\ApiResource\\:\\:\\$id\\.$#"
			count: 1
			path: lib/ApiRequestor.php

		-
			message: "#^Access to undefined constant Stripe\\\\ApiResource\\:\\:OBJECT_NAME\\.$#"
			count: 1
			path: lib/ApiResource.php

		-
			message: "#^Access to undefined constant Stripe\\\\SingletonApiResource\\:\\:OBJECT_NAME\\.$#"
			count: 1
			path: lib/SingletonApiResource.php

		-
			message: "#^Access to an undefined property Stripe\\\\ApiResource\\:\\:\\$id\\.$#"
			count: 1
			path: lib/Util/Util.php


